/x64
/GameEngine/Debug
/GameEngine/Release
/GameEngine/x64
/Graphics/Debug
/Graphics/Release
/Graphics/x64
/SportPitGame/Debug
/SportPitGame/Release
/SportPitGame/x64
/FilesIOLibrary/Debug
/FilesIOLibrary/Release
/FilesIOLibrary/x64
/.vs
/SportPitGame.sdf
/SportPitGame.VC.VC.opendb
/SportPitGame.VC.db
/Libs/Debug
/Libs/Release
/Bin/Debug/*.ilk
/Bin/Debug/*.pdb
/Bin/Release/*.ilk
/Bin/Release/*.pdb
/Bin/Release/*.iobj
/Bin/Release/*.ipdb
