/x64
/SportPitGame.VC.db
/GameEngine/Debug
/GameEngine/Release
/GameEngine/x64
/Graphics/Debug
/Graphics/Release
/Graphics/x64
/SportPitGame/Debug
/SportPitGame/Release
/SportPitGame/x64
/.vs
/SportPitGame.sdf
